<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abuse-of-officials</key>
	<string>39.1 Abuse of officials
Ingen utespelare, målvakt, tränare eller ledare får utmana eller protestera mot beslut fattade av en domare eller matchfunktionär före, under eller efter en match, varken på eller utanför rinken. Detta gäller hela arenabyggnaden och dess omedelbara närhet. Ingen utespelare, målvakt, tränare eller ledare får uppvisa någon form av osportsligt uppträdande inkluderat, men inte begränsat till: obscent, kränkande eller smädande språkbruk, gester eller kommentarer riktat mot och i syfte att nedvärdera en domare eller matchfunktionär, eller i syfte att fortsätta att ifrågasätta ett domslut efter att ha blivit tillsagd att sluta eller efter att redan ha blivit utvisad för sådant uppträdande.</string>
	<key>avbruten-match</key>
	<string>66. Avbruten match
Om ett lag inte kan ställa upp med rätt antal spelare på isen under matchens gång ska matchen avbrytas. 

I samtliga fall av avbrutna eller inställda matcher ska omständigheterna rapporteras till administratören innan ett formellt beslut tas om vinst och förlust. Därutöver äger administrerande förbund rätt att utdöma tilläggsbestraffningar avseende såväl klubb som enskild företrädare, samt disciplinära åtgärder.</string>
	<key>boarding</key>
	<string>41.1 Boarding
En boardingutvisning ska ådömas den spelare som tacklar eller knuffar en försvarslös motståndare på så sätt att motståndaren träffar sargen på ett våldsamt eller farligt sätt. Allvarlighetsgraden av boardingförseelsen ska baseras på domarens bedömning av det våld spelaren utsätts för genom att träffa sargen. 

Bedömning av boarding kräver stort omdöme från domaren. Vikten vid bedömningen ska ligga på att spelaren som utdelar tacklingen säkerställer att motståndaren inte är i en försvarslös position och om så är fallet, säkerställa att kontakten undviks eller minimeras. För att avgöra om en sådan tackling är möjlig att undvika ska hänsyn tas till de omständigheter som föreligger vid tacklingstillfället, inklusive de fall där motståndaren själv sätter sig i en dålig position precis innan eller samtidigt som tacklingen inträffar. Huvuddomaren måste balansera dessa omständigheter i sin bedömning gällande denna regel.</string>
	<key>buttending</key>
	<string>58.1 Buttending
Buttending innebär att en spelare använder skaftet på klubban, ovanför den övre handen, för att tackla en motståndare på något sätt, eller som stöter eller försöker stöta en motståndare med klubbskaftet, oavsett om kontakt sker eller ej.</string>
	<key>charging</key>
	<string>42.1 Charging
En chargingutvisning ska ådömas den spelare som åker på, hoppar in i eller som tacklar en motståndare onödigt hårt på något sätt. 

Med onödigt hård tackling menas en spelare som närmat sig en motståndare i hög hastighet och som ett resultat av detta tacklar en motståndare på ett våldsamt sätt. En charging kan ske in i sargen, in i målburen eller på öppen is. 

All onödig kontakt mot en spelare som spelar efter pucken i samband med en icing- eller offsidesituation och som resulterar i att motståndaren träffar sargen på ett våldsamt sätt ska betraktas som boarding och ska bestraffas som sådan. I övriga fall, om det inte föreligger kontakt med sargen, ska förseelsen bedömas som charging. 
</string>
	<key>checking-from-behind</key>
	<string>43.1 Checking from Behind
En Checking from behind är en tackling som utdelas på en spelare som inte är medveten om den kommande tacklingen och som därför är oförmögen att skydda eller försvara sig, och där kontakten i tacklingen sker mot den bakre delen av kroppen. Om en spelare avsiktligt vänder sig om för att skapa kontakt i ryggen, ska ingen utvisning utdömas under denna regel. Däremot kan fortfarande andra typer av utvisningar utdömas.</string>
	<key>clipping</key>
	<string>44.1 Clipping
Clipping (eller “låg tackling”) innebär att en spelare kastar sig ned och träffar en motståndare på eller under knäna från vilket håll som helst. 

Det är inte tillåtet att utdela en clipping på något sätt och i det inkluderas även att sänka sin egen kropp och tackla en motståndare på eller under knäna. 

En otillåten ”låg tackling” är en tackling som utdelas av en spelare som, oavsett om en eller båda skridskorna är i isen, siktar in sig på området kring knäna på en motståndare när spelaren utdelar tacklingen. 

Det är inte tillåtet att sänka sin egen kroppsposition i syfte att tackla en motståndares knän. Det är inte tillåtet att krypa ihop längs med sargen när man ska bli tacklad, och på så sätt få motståndaren, som tacklar, att ramla över en själv.</string>
	<key>closing-hand-on-puck</key>
	<string>67.1 Handling the Puck
Denna regel beskriver de förseelser som kan resultera i utvisning när en spelare eller målvakt på ett otillåtet sätt använder sin hand på pucken.</string>
	<key>crosschecking</key>
	<string>59.1 Crosschecking
Crosschecking innebär att använda skaftet mellan handskarna när klubban hålls i två händer för att kraftigt tackla en motståndare.</string>
	<key>delay-the-game</key>
	<string>63.1 Delay of Game
Delay of game kan utdömas när en spelare eller ett lag, enligt domarens bedömning, fördröjer matchen på något sätt.</string>
	<key>diving</key>
	<string>64.1 Diving / Embellishment
En spelare som uppenbart kastar sig, förskönar ett fall eller en reaktion, eller som simulerar en skada, ska ådömas mindre straffet.

En målvakt som avsiktligt initierar kontakt med en anfallande spelare förutom i syfte att etablera position i målområdet, eller som på annat sätt agerar för att skapa intryck av annat än ”tillfällig kontakt” med en anfallande spelare, ska ådömas mindre straffet för ”diving” eller ”embellishment”.

NOTERA: Med kastar sig (eng. diving) menas ett agerande av en spelare i syfte att försöka få en motståndare utvisad, medan försköna ett fall (eng. embellishment) menas vara ett agerande som syftar till att få en förseelse att verka grövre än den är, även om det de facto förekommer en förseelse.</string>
	<key>elbowing</key>
	<string>45.1 Elbowing
Elbowing innebär användande av en utsträckt armbåge i ett slag eller en tackling på en motståndare, oavsett om det kan orsaka en skada eller inte.</string>
	<key>equipment</key>
	<string>65.1 Equipment
Alla spelare ansvarar alltid för att hålla sin utrustning och dräkt regelmässig. Spelarnas utrustning består av klubbor, skridskor, skyddsutrustning och dräkten.</string>
	<key>fighting</key>
	<string>46.1 Fighting
Slagsmål är inte en del av sportens DNA. En spelare som frivilligt deltar i ett slagsmål (frivillig deltagare), ska ådömas utvisning efter huvuddomarens omdöme och kan diskvalificeras från matchen. Ytterligare disciplinära åtgärder kan vidtagas.

Ett slagsmål ska anses ha inträffat när minst en (1) spelare slår eller försöker slå en motståndare upprepade gånger, eller när två (2) spelare brottas med varandra på ett sätt som gör det svårt för linjedomarna att ingripa och sära på spelarna.

En spelare som framhärdar i att fortsätta eller som försöker fortsätta ett slagsmål efter att ha blivit tillsagd av domarna att sluta, eller som spjärnar emot en linjedomare som utför sitt uppdrag, ska efter huvuddomarens omdöme ådömas minst större straffet plus game misconduct (5+GM) förutom eventuella övriga utvisningar.

Huvuddomarna ska tillåtas ett stort tolkningsutrymme i sin bedömning under denna regel. Detta i syfte att ge dem möjlighet att kunna differentiera mellan uppenbara fall av olika ansvarsgrad mellan deltagarna i ett slagsmål. Detta tolkningsutrymme ska användas på ett realistiskt sätt.</string>
	<key>goalkeeper-interference</key>
	<string>69.1 Interference on the goalkeeper
Denna regel baseras med utgångspunkten att den anfallande spelarens position, om den är innanför eller utanför målområdet, inte i sig självt avgör om ett mål ska godkännas eller underkännas. Med andra ord kan ett mål i vissa fall godkännas även om anfallande spelare befinner sig i målområdet. Ett mål ska underkännas endast om:
(i) en anfallande spelare, antingen genom sin position eller genom relevant kontakt, hindrar målvaktens förmåga att röra sig fritt inne i målområdet eller att rädda ett skott; eller
(ii) en anfallande spelare initierar medveten eller avsiktlig kontakt med målvakten, inne i eller utanför målområdet.</string>
	<key>handling-the-puck</key>
	<string>67.1 Handling the Puck
Denna regel beskriver de förseelser som kan resultera i utvisning när en spelare eller målvakt på ett otillåtet sätt använder sin hand på pucken.</string>
	<key>headbutting</key>
	<string>47.1 Headbutting
Headbutting innebär att en spelare gör en skallningsrörelse som avsiktligt träffar, eller som försöker träffa en motståndare med huvudet och/eller hjälmen.</string>
	<key>high-sticking</key>
	<string>60.1 Highsticking
Highsticking innebär att en spelare för sin klubba ovanför den normala axelhöjden på motståndaren. Alla spelare är ansvariga för sin egen klubba. Emellertid ska oavsiktlig kontakt tillåtas om det sker i samband med en normal skottrörelse (bakåtsvingen eller fullföljandet). Även oavsiktlig kontakt på motståndarnas center i samband med ett nedsläpp ska tillåtas. En vild sving mot en studsande puck ska inte anses vara en normal skottrörelse och om kontakt sker ovanför en motståndares axlar ska utvisning utdömas.

”Normal skottrörelse” innefattar alla situationer där man spelar pucken, eller försöker spela pucken, med klubban på ett normalt sätt som exempelvis ett skott mot mål, en passning eller när man skjuter ner pucken i motståndarlagets försvarszon.</string>
	<key>holding</key>
	<string>54.1 Holding
Holding innebär att en spelare håller eller hindrar en motståndare från att röra sig fritt, oavsett om det är med eller utan pucken.</string>	
<key>holding-the-stick</key>
	<string>54.1 Holding
Holding innebär att en spelare håller eller hindrar en motståndare från att röra sig fritt, oavsett om det är med eller utan pucken.
...
Det är inte tillåtet att hålla i en motståndares klubba. Mindre straffet ska ådömas den spelare som håller i en motståndares klubba (annonseras som ”Holding the stick”). Det är däremot tillåtet att försvara sig själv mot en motståndares klubba. I dessa fall måste man dock omedelbart släppa klubban igen.</string>
	<key>hooking</key>
	<string>55.1 Hooking
Hooking innebär att en spelare använder sin klubba på ett sätt som hindrar en motståndare. Om klubban används mot en motståndares händer eller nära en motståndares händer, ska ”hooking” utdömas.

Det är tillåtet att checka en motståndare på så sätt att det uppstår kontakt klubba mot klubba.</string>
	<key>illegal-check-to-the-head</key>
	<string>48.1Illegal Check to the Head
En tackling som resulterar i kontakt med en motståndares huvud och där huvudet är den huvudsakliga kontaktytan och där kontakten med huvudet var möjlig att undvika, är inte tillåten.

En spelare som åker skridskor och håller upp blicken får inte tacklas i huvudet, oavsett om spelaren är tacklingsbar eller inte. En spelare som utdelar en tackling på en motståndare, som åker med pucken utan att hålla upp blicken i riktning mot spelaren, ska inte bestraffas under denna regel så länge det inte används en uppåtdrivande rörelse mot huvudet.</string>
	<key>illegal-substitution</key>
	<string>68.1 Illegal Substitution
Ett otillåtet spelarbyte ska anses ha skett om en spelare inträder i spel från spelarbåset när den medspelaren som ska bytas ut inte befinner sig inom 1,5m från sargen, från utvisningsbåset (innan utvisningstiden har löpt ut), eller när en spelare otillåtet inträder på rinken i syfte att hindra en motståndare från att göra mål under ett friläge (se 68.3 och 68.4).</string>
	<key>interference</key>
	<string>56.1 Interference
Interference innebär att en spelare obstruerar eller hindrar en motståndare som inte är i besittning av pucken från att åka skridskor, ta emot en passning eller röra sig fritt på isen.

En sen tackling (late hit) innebär en vårdslös tackling på en spelare som inte längre är i besittning av pucken. En spelare som är på väg att göra sig av med pucken eller som håller på att förlora besittning av pucken är tacklingsbar förutsatt att den som utdelar tacklingen befinner sig i spelarens omedelbara närhet.

En strikt bedömningsnivå ska upprätthållas avseende interference. Detta gäller överallt på rinken.</string>
	<key>kicking</key>
	<string>49.1 Kicking
Kicking innebär att en spelare, genom att avsiktligt använda sina skridskor med en sparkande rörelse, förflyttar pucken eller skapar kontakt med en motståndare.</string>
	<key>kneeing</key>
	<string>50.1 Kneeing
Kneeing innebär att en spelare leder en tackling med sitt knä och i vissa fall att en spelare sträcker ut sitt ben för att ta kontakt med en motståndare.</string>
	<key>leaving-the-bench</key>
	<string>70.1 Leaving the Bench
Ingen spelare får lämna spelar- eller utvisningsbåset vid något tillfälle under ett gruff eller i syfte att starta ett gruff eller ett slagsmål.</string>
	<key>premature-substitution</key>
	<string>71.1 Premature Substitution
När en målvakt lämnar sitt målområde för att åka till spelarbåset och bytas ut under pågående spel mot en extra utespelare, får utespelaren inte beträda isen förrän målvakten är inom 1,5 m från spelarbåset. Om bytet görs för tidigt, ska domarna stoppa spelet omedelbart förutom om icke felande lag har besittning av pucken (då spelet ska fortsätta tills spelinnehavet förändras).</string>
	<key>refusing-to-play-the-puck</key>
	<string>72.1 Vägra eller avstå från att spela pucken
Syftet med denna regel är att upprätthålla rörelse i spelet och såväl huvuddomarna som linjedomarna ska tolka och tillämpa denna regel.</string>
	<key>refusing-to-start-play</key>
	<string>73.1 Refusing to Start Play
Denna regel ska användas om ett lag vägrar att spela när båda lagen är vid rinken, eller om ett lag lämnar rinken och vägrar att spela, eller om ett lag vägrar att lämna sitt omklädningsrum efter en paus när huvuddomaren beordrar dem att göra det.</string>
	<key>roughing</key>
	<string>51.1 Roughing
Roughing innebär att slå eller drämma till en motståndare, vanligtvis i huvudet eller ansiktet, eller att avsiktligt ta av en motståndares hjälm under pågående spel.

Roughing är en mindre typ av gruff som inte övergår till ett slagsmål. Ett gruff är en situation som involverar två spelare där minst en av dem utvisas medan ett slagsmål ska anses ha inträffat när minst en (1) spelare slår eller försöker slå en motståndare upprepade gånger, eller när två (2) spelare brottas med varandra på ett sätt som gör det svårt för linjedomarna att ingripa och sära på spelarna.</string>
	<key>slashing</key>
	<string>61.1 Slashing
Slashing innebär att en spelare svingar sin klubba mot en motståndare, oavsett om den träffar eller inte. ”Icke aggressiva” slag som träffar byxorna eller framsidan på benskydden, ska inte bedömas som ”slashing”.

Ett kraftfullt slag eller hugg med klubban på en motståndares kropp, klubba eller händer (på eller nära) som efter huvuddomarens omdöme inte är i syfte att spela mot pucken, ska bedömas som ”slashing”.</string>
	<key>slewfooting</key>
	<string>52.1 Slewfooting
Slewfooting innebär att en spelare använder sitt ben eller sin fot för att stöta eller sparka undan en motståndares fötter, eller som trycker en motståndares överkropp bakåt med en arm eller armbåge samtidigt som en framåtgående rörelse görs med ett av benen, eller samtidigt som motståndarens fötter sparkas eller stöts undan, vilket får motståndaren att falla våldsamt till isen.</string>
	<key>spearing</key>
	<string>62.1 Spearing
Spearing innebär att en spelare sticker en motståndare med spetsen på klubbladet, oavsett om kontakt sker eller ej.</string>
	<key>throwing-equipment</key>
	<string>53.1 Throwing Equipment
Ingen spelare ska tillåtas kasta en klubba eller något annat föremål i någon zon. En spelare som har tappat eller brutit sin klubba får endast ta emot en ny klubba vid sitt eget spelarbås, eller ta emot en klubba hand-till-hand från en lagkamrat på isen (se 10.3).</string>
	<key>too-many-players-on-the-ice</key>
	<string>74.1 Too Many Players on the Ice
Spelare har rätt att byta under pågående spel förutsatt att detta sker vid spelarbåset och att spelaren som lämnar isen befinner sig inom 1,5 m från spelarbåset när ersättaren inträder på isen.

Om domarna bedömer att ersättaren kliver in på isen innan spelaren som ska lämna isen är inom 1,5 m från spelarbåset (och därmed klart och tydligt orsakar laget att vara för många spelare på rinken) ska lagstraff utdömas.</string>
	<key>too-many-players</key>
	<string>74.1 Too Many Players on the Ice
Spelare har rätt att byta under pågående spel förutsatt att detta sker vid spelarbåset och att spelaren som lämnar isen befinner sig inom 1,5 m från spelarbåset när ersättaren inträder på isen.

Om domarna bedömer att ersättaren kliver in på isen innan spelaren som ska lämna isen är inom 1,5 m från spelarbåset (och därmed klart och tydligt orsakar laget att vara för många spelare på rinken) ska lagstraff utdömas.</string>
	<key>tripping</key>
	<string>57.1 Tripping
Tripping innebär att en spelare använder sin klubba, knä, fot, arm, hand eller armbåge på så sätt att motståndaren fås på fall.

Oavsiktliga fällningar som sker samtidigt med att en spelare avslutar ett annat handlande ska inte bestraffas. Detsamma gäller oavsiktliga fällningar i samband med att spelet stoppas.</string>
	<key>unsportsmanlike-conduct</key>
	<string>75.1 Unsportsmanlike Conduct
Spelare, tränare och ledare är ansvariga för sitt uppträdande vid alla tillfällen och de ska sträva efter att alltid uppträda på ett sportsligt sätt såväl under som efter en match, både på rinken och i hela arenabyggnaden. Domarna kan utdöma utvisningar för osportsligt uppträdande om detta inte efterlevs.
NOTERA: Om olämpligt uppträdande riktas mot en domare eller en matchfunktionär.</string>
	<key>unsportsmanlike</key>
	<string>75.1 Unsportsmanlike Conduct
Spelare, tränare och ledare är ansvariga för sitt uppträdande vid alla tillfällen och de ska sträva efter att alltid uppträda på ett sportsligt sätt såväl under som efter en match, både på rinken och i hela arenabyggnaden. Domarna kan utdöma utvisningar för osportsligt uppträdande om detta inte efterlevs.
NOTERA: Om olämpligt uppträdande riktas mot en domare eller en matchfunktionär.</string>
</dict>
</plist>
