<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Pucken$(BUNDLE_ID_SUFFIX)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>puck-real</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>puck-real</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>aik-icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>aik-icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>ais-icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ais-icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>bif-icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>bif-icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>bik-icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>bik-icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>dif-icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>dif-icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>fbk-icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>fbk-icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>fhc-icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>fhc-icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>hv71-icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>hv71-icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>ifb-icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ifb-icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>iko2-icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>iko2-icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>khc-icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>khc-icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>lhc-icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>lhc-icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>lhf-icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>lhf-icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>lif-icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>lif-icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>mif-icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>mif-icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>mik-icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>mik-icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>modo-icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>modo-icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>nvif-icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>nvif-icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>ohik-icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ohik-icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>ohk-icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ohk-icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>puck-icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>puck-icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>puck-icon-ice</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>puck-icon-ice</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>puck-icon-inverted</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>puck-icon-inverted</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>puck-icon-night</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>puck-icon-night</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>puck-line</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>puck-line</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>rbk-icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>rbk-icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>saik-icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>saik-icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>ssk-icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ssk-icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>taif-icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>taif-icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>tik-icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>tik-icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>vh-icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>vh-icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>vik-icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>vik-icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>vlh-icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>vlh-icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>vvik-icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>vvik-icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>INIntentsSupported</key>
	<array>
		<string>SelectTeamIntent</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSSupportsLiveActivitiesFrequentUpdates</key>
	<true/>
	<key>NSUserActivityTypes</key>
	<array>
		<string>ConfigurationIntent</string>
		<string>SelectTeamIntent</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
